/*
	Jordan Latimer
	Alex Miller

	CSS for both Contest Pages
*/

body {
	display: grid;
	background-color: green;
	
	/* columns and rows sizes */
	grid-template-columns: 15% 10% auto 20%;
	grid-template-rows: 10% 40% 10% auto;
}

/* bar at the top for moving tabs */
#Taskbar {
	background-color: green;
	grid-row: 1/2;
	grid-column: 1/5;
	text-align: right;
}

	/* links inside of taskbar */
	#Taskbar a {
		color: black;
		text-decoration: none;
		text-align: center;
		font-size: 175%;
		font-weight: bold;
		padding: 3%;
		display: inline;
	}
	#Taskbar a:visited {
		text-decoration: none;
	}
	#Taskbar a:hover {
		background-color: white;
		color: black;
	}

/* Name of the contest at the top left */	
#Contest_Name {
	grid-row: 1/2;
	grid-column: 1/3;
	
	text-align: center;
	font-weight: bold;
	font-size: 175%;
}
	#Contest_Name * {
		margin: auto;
	}

/* sidebar thats scrollable for different flags */
#Flag_Sidebar {
	background-color: white;
	grid-row: 2/5;
	grid-column: 1/2;
	height: 100%;
}
	#Flag_Sidebar ul {
		list-style-type: none;
		height: 80%;
		overflow-y: scroll;
	}
	#Flag_Sidebar li {
		padding: 10px;
		margin-right: 10px;
		font-size: 150%;
		cursor: pointer;
	}
	#Flag_Sidebar li:hover {
		background-color: black;
		color: white;
	}

.hidden {
	background-color: white;
	visibility: hidden;
}

/* details for each flag (name, description, etc) */
#Flag_Deats {
	background-color: white;
	grid-row: 2/3;
	grid-column: 2/4;
	text-align: center;
}
	
/* Submitting the flag */
#Submit_Flag {
	background-color: white;
	grid-row: 3/4;
	grid-column: 2/4;
	
}
	#Submit_Flag_Stuff * {
		height: 40%;
		width: 20%;
	}
	#Submit_Butt {
		width: 10%;
		background-color: lawngreen;
		font-weight: bold;
		font-size: 100%;
	}
	#Submit_Flag h3 {
		font-weight: bold;
		text-align: left;
		display: inline;
	}
	.Incorrect, .Correct {
		font-weight: bold;
		text-align: center;
		font-size: 125%;
	}
	.Incorrect {
		background-color: red;
		color: white;
	}
	.Correct {
		background-color: lawngreen;
		color: black;
	}

/* hints for each flag */
#Hints {
	background-color: white;
	grid-row: 2/4;
	grid-column: 4/5;
	text-align: center;
}

textarea {
	background-color: white;
	resize: none;
	border: none;
	outline: none;
	text-align: center;
}

/* buttons for different hints */
#Hint_Butts {
	text-align: center;
}

/* Linux Shell for commands */
#Linux_Shell {
	grid-row: 4/5;
	grid-column: 2/5;
	color: lawngreen;
}

/* when a flag is selected */
.selected-flag {
	background-color: lightgray;
	font-weight: bold;
	color: #333;
}

/* Flags and Hints Labels */
.FlagHint {
	background-color: black;
	color: white;
	text-align: center;
	margin: 10px;
	font-size: 200%;
}

button {
	width: 30%;
	height: 10%;
	font-weight: bold;
	background-color: lightgray;
	color: black;
	border: 5px solid black;
	cursor: pointer;
	font-size: 100%;
}
