/*
  Alex Miller
  Jordan Latimer

  CSS for Modifying Contests

*/
  body {
    background-color: lightblue;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
  }
  
  /* Header stuff */
  #HeaderStuff {
    grid-row: 1/2;
    grid-column: 1/3;
    background-color: blue;
    margin: 50px;
    text-align: center;
  }
    #DoneButt {
      height: 25px;
      width: 150px;
      background-color: lawngreen;
    }
  
  /* Contests */
  #Contests {
    background-color: blue;
    grid-row: 2/3;
    grid-column: 1/2;
    margin: 50px;
    height: 500px;
    text-align: center;
  }

  .selected-contest {
    background-color: lawngreen;
    color: blue;
    border: 2px solid lawngreen;
    border-radius: 5px;
  }

    #ContestContent, #FIContent {
      background-color: white;
      margin: 10px;
      text-align: center;
      height: 75%;
    }
    #ContestList, #FIList {
      height: 75%;
      overflow-y: scroll;
    }
      #ActiveSpan {
        color: lawngreen;
        font-weight: bold;
      }
      #FISpan {
        color: blue;
        font-weight: bold;
      }
   
  /* Flags and Images */
  #FlagsAndImages {
    background-color: blue;
    grid-row: 2/3;
    grid-column: 2/3;
    margin: 50px;
    height: 500px;
    text-align: center;
  }
  
  /* Terminal area */
  #Terminal {
    background-color: blue;
    grid-row: 3/4;
    grid-column: 1/3;
    margin: 50px;
    height: 525px;
  }
  #TerminalHeader {
    text-align: center;
  }
  #TerminalHeader select, input {
    margin: 10px;
    width: 150px;
    height: 25px;
  }
  #TerminalHeader input {
    width: 150px;
    height: 25px;
  }
  #Linux_Shell {
    background-color: black;
    height: 70%;
    margin: 10px;
  }
  
  /* Buttons */
  #Buttons {
    background-color: blue;
    margin-bottom: 5px;
  }
  input {
    font-weight: bold;
    width: 20%;
    height: 10%;
    font-size: 15px;
  }
  .AddButt {
    background-color: lawngreen;
  }
  .DeleteButt {
    background-color: red;
  }
  
  /* selected items */
  .selected {
    background-color: lightgray;
  }
  .selected span {
    background-color: black;
  }
  .selected-flag {
    background-color: lightgray;
  }
  
  /* tooltips */
  .tooltip {
    font-weight: bold;
    color: white;
    display: inline;
  }
  .tooltip:hover .tooltipText {
    visibility: visible;
  }
  .tooltip .tooltipText {
    visibility: hidden;
    height: auto;
    background-color: gray;
    color: black;
    text-align: center;
    position: absolute;
    padding: 5px;
  }
  
  /* Dialog box for deleting flags and images */
  #DialogBox {
    text-align: center;
      top: 50%;
      transform: translate(-50%, -50%);
      padding: 100px;
  }
    #DialogBox input {
      width: 50%;
      background-color: red;
    }
  
  /* anything else not related to any of above */
  h1 {
    color: white;
    font-weight: bold;
    display: inline;
  }
  ul {
    list-style-type: none;
    text-align: center;
    font-weight: bold;
    height: 50%;
  }
  select, option {
    background-color: white;
  }
  li {
    font-size: 20px;
  }